<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ínicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title><strong>Bem-vindo!</strong></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Esse é o aplicativo de gestão acadêmica. Acesse suas opções abaixo.</p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label><strong>Opções</strong></ion-label>
    </ion-list-header>
    <ion-item href="/aluno-list" *ngIf="isAdmin()">
      <ion-icon slot="start" color="medium" name="people"></ion-icon>
      <ion-label>Alunos</ion-label>
    </ion-item>
    <ion-item href="/curso-list" *ngIf="isAdmin()">
      <ion-icon slot="start" color="medium" name="clipboard"></ion-icon>
      <ion-label>Cursos</ion-label>
    </ion-item>
    <ion-item href="/matricula-list">
      <ion-icon slot="start" color="medium" name="albums"></ion-icon>
      <ion-label>Matriculas</ion-label>
    </ion-item>
    <ion-item href="/avaliacao-list" *ngIf="isAdmin()">
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>Avaliações</ion-label>
    </ion-item>
    <ion-item href="/nota-list">
      <ion-icon slot="start" color="medium" name="browsers"></ion-icon>
      <ion-label>Notas</ion-label>
    </ion-item>
    <ion-item href="/boletim-list">
      <ion-icon slot="start" color="medium" name="calculator"></ion-icon>
      <ion-label>Boletim de notas</ion-label>
    </ion-item>
    <ion-item href="/usuario-list" *ngIf="isAdmin()">
      <ion-icon slot="start" color="medium" name="contacts"></ion-icon>
      <ion-label>Usuários</ion-label>
    </ion-item>
    <ion-item (click)="logout()">
      <ion-icon slot="start" name="log-out"></ion-icon>
      <ion-label>Sair</ion-label>
    </ion-item>
  </ion-list>
</ion-content>