<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="matriculaForm" (ngSubmit)="onSubmit()">
    <section>
      <ion-item>
        <ion-label>Curso</ion-label>
        <ion-select formControlName="curso" placeholder="Selecione um" [compareWith]="compareWithCurso">
          <ion-select-option *ngFor="let curso of (cursos | async)" [value]="curso">{{curso.nome}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="isAdmin()">
        <ion-label>Aluno</ion-label>
        <ion-select formControlName="aluno" placeholder="Selecione um" [compareWith]="compareWithAluno"> 
          <ion-select-option *ngFor="let aluno of (alunos | async)" [value]="aluno">{{aluno.nome}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </section>
    <section class="full-width">
      <ion-row>
        <ion-col size="6">
          <ion-button type="submit" expand="block" color="primary" [disabled]="!matriculaForm.valid || isEdicao()">Salvar</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" color="danger" (click)="cancelar()">Cancelar</ion-button>
        </ion-col>
      </ion-row>
    </section>
  </form>
</ion-content>