<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="alunoForm" (ngSubmit)="onSubmit()">
    <section>
      <header><strong>Dados pessoais</strong></header>
      <ion-item>
        <ion-label stacked>Nome</ion-label>
        <ion-input type="text" formControlName="nome"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>E-mail</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>CPF</ion-label>
        <ion-input type="text" maxlength="14" formControlName="cpf" [brmasker]="{person: true}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Telefone</ion-label>
        <ion-input type="text" formControlName="telefone" [brmasker]="{phone: true}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Senha</ion-label>
        <ion-input type="password" formControlName="senha"></ion-input>
      </ion-item>
    </section>

    <section class="ion-padding-top">
      <header><strong>Endereço</strong></header>
      <ion-item>
        <ion-label stacked>Endereço</ion-label>
        <ion-input type="text" formControlName="endereco"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Estado</ion-label>
        <ion-select formControlName="estado" placeholder="Selecione um">
          <ion-select-option *ngFor="let estado of estados" [value]="estado.uf">
            {{estado.nome}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label stacked>Município</ion-label>
        <ion-input type="text" formControlName="municipio"></ion-input>
      </ion-item>
    </section>
    <section class="full-width">
      <ion-row>
        <ion-col size="6">
          <ion-button type="submit" expand="block" color="primary" [disabled]="!alunoForm.valid">Salvar</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" color="danger" (click)="cancelar()">Cancelar</ion-button>
        </ion-col>
      </ion-row>
    </section>
  </form>
</ion-content>