<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastrar Avaliação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="save(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col size-xs="12">
          <ion-list>
            <ion-list-header>Selecione o curso</ion-list-header>
            <ion-item>
              <ion-label>Curso</ion-label>
              <ion-select name="curso" placeholder="Selecione um" [compareWith]="compareWith" ngModel required>
                <ion-select-option *ngFor="let curso of (cursos | async)" [value]="curso">{{curso.nome}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-item>
              <ion-label>Data</ion-label>
              <ion-input name="data" type="date" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Nome</ion-label>
              <ion-input name="nome" type="text" ngModel required></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-button expand="block" type="submit" [disabled]="form.invalid" expand="block">Salvar</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" color="danger" (click)="cancelar()">Cancelar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>