<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">
    <section>
      <ion-item>
        <ion-label stacked>E-mail</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Senha</ion-label>
        <ion-input type="password" formControlName="senha"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Perfil</ion-label>
        <ion-list>
          <ion-item *ngFor="let perfil of (perfis | async)">
            <ion-label>{{perfil.nome}}</ion-label>
            <ion-checkbox slot="end" formControlName="perfis" [checked]="perfil.checked" (ionChange)="adicionarPerfil(perfil, $event)"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-item>
    </section>
    <section class="full-width">
      <ion-row>
        <ion-col size="6">
          <ion-button type="submit" expand="block" color="primary" [disabled]="!usuarioForm.valid">Salvar</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" color="danger" (click)="cancelar()">Cancelar</ion-button>
        </ion-col>
      </ion-row>
    </section>
  </form>
</ion-content>