<ion-header>
  <ion-toolbar>
    <ion-button color="light" (click)="dismissLogin()">Fechar</ion-button>
    <ion-title>Entrar</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form #form="ngForm" (ngSubmit)="login(form)" method="post">
    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input ngModel type="email" name="email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input ngModel type="password" name="password"></ion-input>
    </ion-item>
  
    <ion-button type="submit" expand="full" color="primary">Entrar</ion-button>
  </form>
  <p text-center>Não possui uma conta?</p>
  <ion-button expand="full" color="danger" (click)="registerModal()">Criar conta</ion-button>
</ion-content>