<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Registrar notas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="save(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col size-xs="12">
          <ion-list>
            <ion-list-header>Selecione o aluno</ion-list-header>
            <ion-item>
              <ion-label>Aluno</ion-label>
              <ion-select name="aluno" placeholder="Selecione um" [compareWith]="compareWith" ngModel required>
                <ion-select-option *ngFor="let aluno of (alunos | async)" [value]="aluno">{{aluno.nome}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row color="primary" justify-content-center>
        <ion-col size-xs="12">
          <ion-list>
            <ion-list-header>Selecione a avaliação</ion-list-header>
            <ion-item>
              <ion-label>Avaliação</ion-label>
              <ion-select name="avaliacao" placeholder="Selecione um" [compareWith]="compareWith" ngModel required>
                <ion-select-option *ngFor="let avaliacao of (avaliacoes | async)" [value]="avaliacao">{{avaliacao.nome}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-item>
              <ion-label>Nota</ion-label>
              <ion-input name="nota" type="number" ngModel required></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-button expand="block" type="submit" [disabled]="form.invalid" expand="block">Salvar</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" color="danger" (click)="cancelar()">Cancelar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>