<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="cursoForm" (ngSubmit)="onSubmit()">
    <section>
      <ion-item>
        <ion-label stacked>Nome</ion-label>
        <ion-input type="text" formControlName="nome"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Ano/Semestre</ion-label>
        <ion-input type="text" formControlName="anoSemestre"></ion-input>
      </ion-item>
    </section>
    <section class="full-width">
      <ion-row>
        <ion-col size="6">
          <ion-button type="submit" expand="block" color="primary" [disabled]="!cursoForm.valid">Salvar</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" color="danger" (click)="cancelar()">Cancelar</ion-button>
        </ion-col>
      </ion-row>
    </section>
  </form>
</ion-content>