<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="notaForm" (ngSubmit)="onSubmit()">
    <section>
      <ion-item>
        <ion-label>Aluno</ion-label>
        <ion-select formControlName="aluno" placeholder="Selecione um" [compareWith]="compareWithAluno" (ionChange)="carregarAvaliacoes()">
          <ion-select-option *ngFor="let aluno of (alunos | async)" [value]="aluno">{{aluno.nome}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Avaliacao</ion-label>
        <ion-select formControlName="avaliacao" placeholder="Selecione um" [compareWith]="compareWithAvaliacao">
          <ion-select-option *ngFor="let avaliacao of (avaliacoes | async)" [value]="avaliacao">{{avaliacao.nome}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Nota</ion-label>
        <ion-input formControlName="nota" type="number"></ion-input>
      </ion-item>
    </section>
    <section class="full-width">
      <ion-row>
        <ion-col size="6">
          <ion-button type="submit" expand="block" color="primary" [disabled]="!notaForm.valid">Salvar</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" color="danger" (click)="cancelar()">Cancelar</ion-button>
        </ion-col>
      </ion-row>
    </section>
  </form>
</ion-content>