<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="avaliacaoForm" (ngSubmit)="onSubmit()">
    <section>
      <ion-item>
        <ion-label>Data</ion-label>
        <ion-input type="date" formControlName="data"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Nome</ion-label>
        <ion-input type="text" formControlName="nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Curso</ion-label>
        <ion-select formControlName="curso" placeholder="Selecione um" [compareWith]="compareWithCurso">
          <ion-select-option *ngFor="let curso of (cursos | async)" [value]="curso">{{curso.nome}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </section>
    <section class="full-width">
      <ion-row>
        <ion-col size="6">
          <ion-button type="submit" expand="block" color="primary" [disabled]="!avaliacaoForm.valid">Salvar</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" color="danger" (click)="cancelar()">Cancelar</ion-button>
        </ion-col>
      </ion-row>
    </section>
  </form>
</ion-content>