<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lista de cursos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let curso of cursos | async">
      <ion-item>
        {{ curso.nome }}
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option type="button" color="secondary" (click)="editar(curso)">
          <ion-icon name="create"></ion-icon>
          Editar
        </ion-item-option>
        <ion-item-option type="button" color="danger" (click)="excluir(curso)">
          <ion-icon name="trash"></ion-icon>
          Excluir
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <section class="full-width">
    <ion-row>
      <ion-col size="6">
        <ion-button expand="full" color="primary" (click)="adicionar()">Adicionar</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="full" color="danger" (click)="voltar()">voltar</ion-button>
      </ion-col>
    </ion-row>
  </section>

</ion-content>