<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="!isEdicao()">
  <form [formGroup]="boletimForm" (ngSubmit)="onSubmit()">
    <section>
      <ion-item *ngIf="isAdmin()">
        <ion-label>Aluno</ion-label>
        <ion-select formControlName="aluno" placeholder="Selecione um" [compareWith]="compareWithAluno" (ionChange)="recuperaCursos(aluno)">
          <ion-select-option *ngFor="let aluno of (alunos | async)" [value]="aluno">{{aluno.nome}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Curso</ion-label>
        <ion-select formControlName="curso" placeholder="Selecione um" [compareWith]="compareWithCurso">
          <ion-select-option *ngFor="let curso of (cursos | async)" [value]="curso">{{curso.nome}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </section>
    <section class="full-width">
      <ion-row>
        <ion-col size="6">
          <ion-button type="submit" expand="block" color="primary" [disabled]="!boletimForm.valid">Emitir</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" color="danger" (click)="cancelar()">Cancelar</ion-button>
        </ion-col>
      </ion-row>
    </section>
  </form>
</ion-content>
<ion-content padding *ngIf="isEdicao()">
  <ion-grid>
    <ion-row>
      <ion-col size="5">
        <div>
          <strong>Código do aluno</strong>
        </div>
      </ion-col>
      <ion-col size="7">
        <div>
          <strong>Aluno</strong>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <div>
          {{boletim.aluno.codigoAluno}}
        </div>
      </ion-col>
      <ion-col size="7">
        <div>
          {{boletim.nomeAluno}}
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <div>
          <strong>Ano/Semestre</strong>
        </div>
      </ion-col>
      <ion-col size="7">
        <div>
          <strong>Curso</strong>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <div>
          {{boletim.anoSemestre}}
        </div>
      </ion-col>
      <ion-col size="7">
        <div>
          {{boletim.curso.nome}}
        </div>
      </ion-col>
    </ion-row>
    <ion-item-divider>
      <ion-label>Avaliações</ion-label>
    </ion-item-divider>
    <ion-row>
      <ion-col size-xs="12">
        <ion-list>
          <ion-item *ngFor="let nota of (boletim.notas | async)">
            {{nota.avaliacao.nome}}
            <div class="item-note" slot="end">
              {{nota.nota}}
            </div>
          </ion-item>
          <ion-item>
            <strong>Nota total</strong>
            <div class="item-note" slot="end">
              {{boletim.notaFinal}}
            </div>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <ion-text>
          <strong>Resultado</strong>
        </ion-text>
      </ion-col>
      <ion-col size="7">
        <div class="ion-text-end">
          <ion-text class="ion-text-end" [color]="isAprovado(boletim.situacao) ? 'success' : 'danger'">
            <strong>{{boletim.situacao}}</strong>
          </ion-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div padding>
    <ion-button size="large" expand="block" color="secondary" (click)="voltar()">Voltar</ion-button>
  </div>
</ion-content>