<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Boletim de notas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="emitir(form)">
    <ion-grid *ngIf="!exibeBoletim">
      <ion-row color="primary" justify-content-center>
        <ion-col size-xs="12">
          <ion-list>
            <ion-list-header>Selecione o aluno</ion-list-header>
            <ion-item>
              <ion-label>Aluno</ion-label>
              <ion-select name="aluno" placeholder="Selecione um" [compareWith]="compareWith" ngModel required>
                <ion-select-option *ngFor="let aluno of (alunos | async)" [value]="aluno">{{aluno.nome}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row color="primary" justify-content-center>
        <ion-col size-xs="12">
          <ion-list>
            <ion-list-header>Selecione o curso</ion-list-header>
            <ion-item>
              <ion-label>Curso</ion-label>
              <ion-select name="curso" placeholder="Selecione um" [compareWith]="compareWith" ngModel required>
                <ion-select-option *ngFor="let curso of (cursos | async)" [value]="curso">{{curso.nome}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-button type="submit" [disabled]="form.invalid" expand="block">Emitir Boletim</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" color="danger" (click)="cancelar()">Cancelar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="exibeBoletim">
      <ion-row>
        <ion-col size="5">
          <div>
            <strong>Código do aluno</strong>
          </div>
        </ion-col>
        <ion-col size="7">
          <div>
            <strong>Aluno</strong>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div>
            {{boletim.aluno.codigoAluno}}
          </div>
        </ion-col>
        <ion-col size="7">
          <div>
            {{boletim.aluno.nome}}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div>
            <strong>Ano/Semestre</strong>
          </div>
        </ion-col>
        <ion-col size="7">
          <div>
            <strong>Curso</strong>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div>
            {{boletim.curso.anoSemestre}}
          </div>
        </ion-col>
        <ion-col size="7">
          <div>
            {{boletim.curso.nome}}
          </div>
        </ion-col>
      </ion-row>
      <ion-item-divider>
        <ion-label>Avaliações</ion-label>
      </ion-item-divider>
      <ion-row>
        <ion-col size-xs="12">
          <ion-list *ngIf="exibeBoletim">
            <ion-item *ngFor="let nota of boletim.notas">
              {{nota.avaliacao.nome}}
              <div class="item-note" slot="end">
                {{nota.nota}}
              </div>
            </ion-item>
            <ion-item>
              <strong>Nota total</strong>
              <div class="item-note" slot="end">
                {{boletim.notaFinal}}
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <ion-text>
            <strong>Resultado</strong>
          </ion-text>
        </ion-col>
        <ion-col size="7">
          <div class="ion-text-end">
            <ion-text class="ion-text-end" [color]="isAprovado(boletim.resultado) ? 'success' : 'danger'">
              <strong>{{boletim.resultado}}</strong>
            </ion-text>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div padding *ngIf="exibeBoletim">
      <ion-button size="large" expand="block" color="secondary" (click)="voltar(form)">Voltar</ion-button>
    </div>
  </form>
</ion-content>